<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wings.simplenote">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_transparent"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.ReminderReceiver"
            android:exported="false">
        </receiver>

        <activity
            android:name=".view.NoteDetailActivity"
            android:label="@string/title_activity_detail_note"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.AddNoteActivity"
            android:label="@string/title_activity_new_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.EditNoteActivity"
            android:label="@string/title_activity_edit_note"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>